{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Task Title</title>
    </head>
    <body>
        <h1>My First Website</h1>
        <h2>This is h2</h2>
        <h3>This is h3</h3>
        <h4>Thsi is h4</h4>
        <h5>This is h5</h5>
        <h6>This is h6</h6>

        This is my first website and <b>I am supah excited!</b>

        <p>
            Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at pagtytypeset. Ang Lorem Ipsum ang naging regular na modelo simula pa noong 1500s, noong may isang di kilalang manlilimbag and kumuha ng galley ng type at ginulo ang pagkaka-ayos nito upang makagawa ng libro ng mga type specimen. Nalagpasan nito hindi lang limang siglo, kundi nalagpasan din nito ang paglaganap ng electronic typesetting at nanatiling parehas. Sumikat ito noong 1960s kasabay ng pag labas ng Letraset sheets na mayroong mga talata ng Lorem Ipsum, at kamakailan lang sa mga desktop publishing software tulad ng Aldus Pagemaker ginamit ang mga bersyon ng Lorem Ipsum.
        </p>
        <p>
            Salungat sa kaalaman ng marami, ang Lorem Ipsum ay hindi puro walang kwentang salita lang. Umuugat ito sa klasikong literatura na Latin galing 45 BC, Pinpahiwatig na higit 2000 na ang taong gulang nito. Si Richard McClintock, isang Latin na propesor sa Hampden-Sydney College sa Viginia, ay hinanap ang isa sa mga tagong salita sa Latin, consectetur, galing sa talata ng Lorem Ipsum, at papunta sa mga siyudad sa mundo sa klasikal na literatura, natuklasan ang walang kadudadudang pinanggalingan. Ang Lorem Ipsum ay nangagaling sa mga seksyon 1.10.32 at 1.10.33 ng "de Finibus Bonorum et Malorum" (Ang Kasukdulan ng Mabuti at Masama) ni Cicero, isinulat noong 45 BC. Ang librong ito ay isang treatise sa teorya ng etika, tanyag noong Renaissance. Ang unang linya ng Lorem Ipsum, "Lorem ipsum dolor sit amet..", ay galing sa linya ng sekyon 1.10.32
        </p>

        Ang regular na tipak ng Lorem Ipsum na ginamit mula pa noong 1500s ay kinopyo sa ibaba para sa mga intersado. <br><br><br>
        <br/>

        <b>Sed ut maximus nisl, nec elementum turpis.</b><br><br>
        
        <i>Quisque faucibus elementum eros quis tincidunt.</i><br><br>
        
        <em>In hac habitasse platea dictumst.</em><br><br>

        <strong>Nunc quis dictum mi.</strong>

        <hr>
        
        
        Praesent feugiat tortor quis felis luctus semper. <br>
        
       <a href="https://www.google.com" target="_blank">Mauris gravida dui diam, ac vulputate sem finibus malesuada.</a>
        <br>
        Duis iaculis congue euismod. Nunc elementum sem sed erat efficitur elementum. <br>

        <img src="{% static '350x150.png' %}" border="10">

        <ul>
            <li>strawberrry
                <ul>
                    <li>choco stawberry</li>
                    <li>milk strawberry</li>
                    <li>strawberry candy sprinkle</li>
                </ul>
            </li>
            <li>orange</li>
            <li>mango</li>
        </ul>

        <ol>
            <li>strawberry</li>
            <li>orange</li>
            <li>mango</li>
        </ol>

        <table border="10" cellpadding="10" cellspacing="0">
            <tr>
                <th>Month</th>
                <th>Rent</th>
                <th>Utilities</th>
                <th>Groceries</th>
                <th>Eating Out</th>
                <th>Entertainment</th>
            </tr>
            <tr>
                <td>August</td>
                <td>$1500</td>
                <td>$150</td>
                <td>$350</td>
                <td>$100</td>
                <td>$50</td>
            </tr>
        </table>
 
        <br>

        <table border="10" cellpadding="10" cellspacing="0">
            <tr>
                <th></th>
                <th>Month</th>
                <th>Rent</th>
                <th colspan="2">Utilities</th>
                <th>Groceries</th>
                <th>Eating Out</th>
                <th>Entertainment</th>
            </tr>
            <tr>
                <td rowspan="3">Fall</td>
                <td>June</td>
                <td>$1500</td>
                <td>$100</td>
                <td>$50</td>
                <td>$350</td>
                <td>$100</td>
                <td>$50</td>
            </tr>
            <tr>
                <td>July</td>
                <td>$1500</td>
                <td>$100</td>
                <td>$50</td>
                <td>$350</td>
                <td>$100</td>
                <td>$50</td>
            </tr>
            <tr>
                <td>August</td>
                <td>$1500</td>
                <td>$100</td>
                <td>$50</td>
                <td>$350</td>
                <td>$100</td>
                <td>$50</td>
            </tr>
        </table>
    </body>
</html>