body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #009bcf;
}

#content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

h1 {
    color: #ff3636;
}

h2 {
    color: #369eff;
}

h3 {
    color: #36ff9e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
